App_WebReferences/GridView_Webserview/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentsAdd">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_str_name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_int_sex" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_str_tel" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_int_classid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentsAddResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentsAddResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentsEdit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_int_id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_str_name" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_int_sex" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_str_tel" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_int_classid" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentsEditResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentsEditResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentsPager">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="PageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="PageSize" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="strWhere" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentsPagerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentsPagerResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="Recordcount" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentsDelete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StudentsDeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="StudentsDeleteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="StudentsAddSoapIn">
    <wsdl:part name="parameters" element="tns:StudentsAdd" />
  </wsdl:message>
  <wsdl:message name="StudentsAddSoapOut">
    <wsdl:part name="parameters" element="tns:StudentsAddResponse" />
  </wsdl:message>
  <wsdl:message name="StudentsEditSoapIn">
    <wsdl:part name="parameters" element="tns:StudentsEdit" />
  </wsdl:message>
  <wsdl:message name="StudentsEditSoapOut">
    <wsdl:part name="parameters" element="tns:StudentsEditResponse" />
  </wsdl:message>
  <wsdl:message name="StudentsPagerSoapIn">
    <wsdl:part name="parameters" element="tns:StudentsPager" />
  </wsdl:message>
  <wsdl:message name="StudentsPagerSoapOut">
    <wsdl:part name="parameters" element="tns:StudentsPagerResponse" />
  </wsdl:message>
  <wsdl:message name="StudentsDeleteSoapIn">
    <wsdl:part name="parameters" element="tns:StudentsDelete" />
  </wsdl:message>
  <wsdl:message name="StudentsDeleteSoapOut">
    <wsdl:part name="parameters" element="tns:StudentsDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StudentsAdd">
      <wsdl:input message="tns:StudentsAddSoapIn" />
      <wsdl:output message="tns:StudentsAddSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StudentsEdit">
      <wsdl:input message="tns:StudentsEditSoapIn" />
      <wsdl:output message="tns:StudentsEditSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StudentsPager">
      <wsdl:input message="tns:StudentsPagerSoapIn" />
      <wsdl:output message="tns:StudentsPagerSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StudentsDelete">
      <wsdl:input message="tns:StudentsDeleteSoapIn" />
      <wsdl:output message="tns:StudentsDeleteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentsAdd">
      <soap:operation soapAction="http://tempuri.org/StudentsAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentsEdit">
      <soap:operation soapAction="http://tempuri.org/StudentsEdit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentsPager">
      <soap:operation soapAction="http://tempuri.org/StudentsPager" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentsDelete">
      <soap:operation soapAction="http://tempuri.org/StudentsDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentsAdd">
      <soap12:operation soapAction="http://tempuri.org/StudentsAdd" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentsEdit">
      <soap12:operation soapAction="http://tempuri.org/StudentsEdit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentsPager">
      <soap12:operation soapAction="http://tempuri.org/StudentsPager" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StudentsDelete">
      <soap12:operation soapAction="http://tempuri.org/StudentsDelete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://192.168.0.100/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://192.168.0.100/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>